In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\GitHub\ICT - ML&AI\Dataset\credit_card_default.csv")
data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [3]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [4]:
# change titles to lowercase
data = data.rename(columns= lambda x:x.lower())

In [5]:
# Rename Column
data = data.rename(columns={"default payment next month":"default"})
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         30000 non-null  int64
 1   limit_bal  30000 non-null  int64
 2   sex        30000 non-null  int64
 3   education  30000 non-null  int64
 4   marriage   30000 non-null  int64
 5   age        30000 non-null  int64
 6   pay_1      30000 non-null  int64
 7   pay_2      30000 non-null  int64
 8   pay_3      30000 non-null  int64
 9   pay_4      30000 non-null  int64
 10  pay_5      30000 non-null  int64
 11  pay_6      30000 non-null  int64
 12  bill_amt1  30000 non-null  int64
 13  bill_amt2  30000 non-null  int64
 14  bill_amt3  30000 non-null  int64
 15  bill_amt4  30000 non-null  int64
 16  bill_amt5  30000 non-null  int64
 17  bill_amt6  30000 non-null  int64
 18  pay_amt1   30000 non-null  int64
 19  pay_amt2   30000 non-null  int64
 20  pay_amt3   30000 non-null  int64
 21  pay_amt4   30000 non-null  int64
 22  pay_amt5   30000 non-null  int64
 23  pay_amt6   30000 non-null  int64
 24  default    30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [7]:
data['sex'].value_counts() # Check how many values in sex to catagorize

2    18112
1    11888
Name: sex, dtype: int64

In [8]:
data['education'].value_counts() # Check how many values in education to catagorize

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: education, dtype: int64

In [9]:
data['marriage'].value_counts() # Check how many values in marriage to catagorize

2    15964
1    13713
3      323
Name: marriage, dtype: int64

In [10]:
data["male"] = (data['sex'] == 1).astype(int) # If sex=1 create new column with binary values 0 and 1
data['grad_school'] = (data['education'] == 1).astype(int) # If education=1 then create a new column with binary values 0 and 1
data['university'] = (data['education'] == 2).astype(int) # If education=1 then create a new column with binary values 0 and 1
data['married'] = (data['marriage'] == 1).astype(int) # If marriage=1 then create a new column with binary values 0 and 1

In [11]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school,university,married
0,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,1,0,0,1,1
1,2,120000,2,2,2,26,-1,2,0,0,...,1000,1000,1000,0,2000,1,0,0,1,0
2,3,90000,2,2,2,34,0,0,0,0,...,1500,1000,1000,1000,5000,0,0,0,1,0
3,4,50000,2,2,1,37,0,0,0,0,...,2019,1200,1100,1069,1000,0,0,0,1,1
4,5,50000,1,2,1,57,-1,0,-1,0,...,36681,10000,9000,689,679,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,20000,5003,3047,5000,1000,0,1,0,0,1
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,3526,8998,129,0,0,0,1,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,0,22000,4200,2000,3100,1,1,0,1,0
29998,29999,80000,1,3,1,41,1,-1,0,0,...,3409,1178,1926,52964,1804,1,1,0,0,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,1800,1430,1000,1000,1000,1,1,0,1,1

In [12]:
data[['male','grad_school','university','married']]

       male  grad_school  university  married
0         0            0           1        1
1         0            0           1        0
2         0            0           1        0
3         0            0           1        1
4         1            0           1        1
...     ...          ...         ...      ...
29995     1            0           0        1
29996     1            0           0        0
29997     1            0           1        0
29998     1            0           0        1
29999     1            0           1        1

[30000 rows x 4 columns]

In [13]:
data.columns

Index(['id', 'limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_1',
       'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6', 'default',
       'male', 'grad_school', 'university', 'married'],
      dtype='object')

In [14]:
'''bill_amt_features = ['bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6']'''

bill_amt_features = ['bill_amt' + str(i) for i in range(1,7)] # add all bill amount to one column

In [15]:
pay_amt_features = ["pay_amt"+ str(i) for i in range(1,7)] # add all pay amount to one column
binary_features = ['male','grad_school','university','married'] # add binary features to one column

In [16]:
pay_features = ["pay_"+ str(i) for i in range(1,7)] # add all pay features to one column

In [17]:
num_features = ["limit_bal","age"] +bill_amt_features + pay_amt_features + pay_features # add all numerical features

In [18]:
x = data[num_features + binary_features]

In [19]:
y = data['default']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size= 0.2,random_state= 134)

In [22]:
sc_features = ["limit_bal","age"] +bill_amt_features + pay_amt_features

In [23]:
from sklearn.preprocessing import StandardScaler # preprocessing for numerical features

In [24]:
sc = StandardScaler()

In [25]:
x_train.loc[:,sc_features]

,limit_bal,age,bill_amt1,bill_amt2,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6
29245,50000,25,47053,5472,5891,6595,8400,4041,2000,1500,1000,2000,1000,1000
26498,50000,52,48195,49024,38085,0,10400,0,2035,1650,0,10400,0,0
20130,80000,43,68612,69971,71846,72372,73475,74842,3100,3600,2720,2400,2224,3990
25126,740000,50,321279,316083,317219,296560,285912,268257,13000,13200,11000,10000,10000,15000
20337,50000,61,52659,51213,51696,50422,30145,30203,4,2346,2155,1046,1073,1246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28786,200000,36,8812,15189,6205,37658,696,1430,15234,6225,38150,2,1434,2265
13687,320000,34,744,2291,2197,3934,5541,3141,2297,2203,3957,5557,3150,3056
11640,80000,27,55647,57737,58577,60169,58426,58204,3000,3923,2500,2100,2200,2075
13862,180000,26,390,390,5248,4167,780,467,390,5248,5,780,467,3513
9699,130000,27,123371,125905,126524,127534,130524,132416,6000,4300,4400,5000,4000,63

In [26]:
x_train.loc[:,sc_features] = sc.fit_transform(x_train[sc_features])

In [27]:
x_test.loc[:,sc_features] = sc.fit_transform(x_test[sc_features])

In [103]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,r2_score

KNN

In [81]:
from sklearn.neighbors import KNeighborsClassifier

In [82]:
from sklearn.model_selection import KFold,cross_val_score

In [42]:
x

,limit_bal,age,bill_amt1,bill_amt2,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,...,pay_1,pay_2,pay_3,pay_4,pay_5,pay_6,male,grad_school,university,married
0,20000,24,3913,3102,689,0,0,0,0,689,...,2,2,-1,-1,-2,-2,0,0,1,1
1,120000,26,2682,1725,2682,3272,3455,3261,0,1000,...,-1,2,0,0,0,2,0,0,1,0
2,90000,34,29239,14027,13559,14331,14948,15549,1518,1500,...,0,0,0,0,0,0,0,0,1,0
3,50000,37,46990,48233,49291,28314,28959,29547,2000,2019,...,0,0,0,0,0,0,0,0,1,1
4,50000,57,8617,5670,35835,20940,19146,19131,2000,36681,...,-1,0,-1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,39,188948,192815,208365,88004,31237,15980,8500,20000,...,0,0,0,0,0,0,1,0,0,1
29996,150000,43,1683,1828,3502,8979,5190,0,1837,3526,...,-1,-1,-1,-1,0,0,1,0,0,0
29997,30000,37,3565,3356,2758,20878,20582,19357,0,0,...,4,3,2,-1,0,0,1,0,1,0
29998,80000,41,-1645,78379,76304,52774,11855,48944,85900,3409,...,1,-1,0,0,0,-1,1,0,0,1
29999,50000,46,47929,48905,49764,36535,32428,15313,2078,1800,...,0,0,0,0,0,0,1,0,1,1

In [83]:
knn_model=KNeighborsClassifier(n_neighbors=9)

In [84]:
k_folds = KFold(n_splits = 5)
scores = cross_val_score(knn_model, x, y, cv = k_folds)

In [85]:
print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [0.76416667 0.756      0.75483333 0.78216667 0.77616667]
Average CV Score:  0.7666666666666666
Number of CV Scores used in Average:  5

In [86]:
knn_model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=9)

In [87]:
knn_pred=knn_model.predict(x_test)

In [88]:
print('Accuracy score is',accuracy_score(y_test,knn_pred)*100)

Accuracy score is 80.73333333333333

SVM

In [89]:
from sklearn import svm

In [90]:
clf = svm.SVC(kernel = 'linear') # Create a svm classifier

In [91]:
clf.fit(x_train,y_train)

SVC(kernel='linear')

In [92]:
y_pred = clf.predict(x_test)

In [93]:
print("Accuracy Score is :",accuracy_score(y_test,y_pred)*100)

Accuracy Score is : 80.78333333333333

Gradient Boosting

In [95]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.datasets import make_regression

In [97]:
x, y = make_regression(n_samples=100,
                       n_features=10,
                       n_informative=5,
                       n_targets=1,
                       random_state=42)

In [98]:
# Instantiate Gradient Boosting Regressor
gbr = GradientBoostingRegressor(n_estimators = 200, max_depth = 1, random_state = 1)

In [99]:
gbr.fit(x_train,y_train)

GradientBoostingRegressor(max_depth=1, n_estimators=200, random_state=1)

In [100]:
gbr_prd = gbr.predict(x_test)

In [104]:
print("Gradient Boosting - R2: ",
      r2_score(y_test, gbr_prd))

Gradient Boosting - R2:  0.20541173465708862

XG boosting

In [105]:
from xgboost.XGBRegressor import XGBRegressor
xgr = XGBRegressor()
xgr.fit(x_train, y_train)
y_pred2 = xgr.predict(x_test)
print("XGBoost - R2: ",
      r2_score(y_test, y_pred2))

ModuleNotFoundError: No module named 'xgboost'

ADA Boosting

In [106]:

from sklearn.ensemble import AdaBoostRegressor
adr = AdaBoostRegressor()
adr.fit(x_train, y_train)
y_pred3 = adr.predict(x_test)
print("AdaBoost - R2: ",
      r2_score(y_test, y_pred3))

AdaBoost - R2:  0.17968390658069744

Hyperparameter tuning by gridsearch and randomserach

In [107]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [108]:
param_grid_knn = {
    'n_neighbors': np.arange(5,15),
    'p': (1,2),
    'weights': ('uniform', 'distance'),
    'metric': ('minkowski', 'chebyshev')
} 
knn_gscv = KNeighborsClassifier()
knn_gscv = GridSearchCV(knn_gscv, param_grid=param_grid_knn, scoring='accuracy', cv=5)
knn_gscv.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'metric': ('minkowski', 'chebyshev'),
                         'n_neighbors': array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14]),
                         'p': (1, 2), 'weights': ('uniform', 'distance')},
             scoring='accuracy')

In [109]:
print("Best hyperparameters:", knn_gscv.best_params_)
print("Best accuracy score:", knn_gscv.best_score_)

Best hyperparameters: {'metric': 'minkowski', 'n_neighbors': 12, 'p': 2, 'weights': 'uniform'}
Best accuracy score: 0.8124583333333334

In [111]:
from sklearn.svm import SVC

In [ ]:
"""param_grid_svm = {'C': [0.1, 1, 10, 100, 1000],
			'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
			'kernel': ['rbf']}

grid = GridSearchCV(SVC(), param_grid_svm, refit = True, verbose = 3)

# fitting the model for grid search
grid.fit(x_train, y_train)"""